# Add this entry for your genome
genome_id.genome : genome_id

# Directory where your genome data is located
data.dir : results/0065_read_mapping_by_minimap2/raw_files/tmp/genome_data

# Reference genome FASTA file
genome_id.reference : results/0065_read_mapping_by_minimap2/raw_files/tmp/genome_data/genome_id/sequences.fa

# Annotation file (GFF3 format)
genome_id.gff : results/0065_read_mapping_by_minimap2/raw_files/tmp/genome_data/genome_id/genes.gff
